@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family:Roboto, sans-serif;
    color:white;
}

body{
    cursor:none;
    margin:0;
    background:black;
    background-image:url("noise-light.png");
}

body::-webkit-scrollbar{
    background-color:transparent;
}

body::-webkit-scrollbar:hover{
    cursor:none;
}

body::-webkit-scrollbar-thumb:hover{
    cursor:none;
}

body::-webkit-scrollbar-thumb{
    background-color:coral;
    border-radius:10px;
}

a{
    cursor:none;
}

a::after{
    cursor:none;
}

/* header */

.cursor-dot{
    height:10px;
    width:10px;
    background:coral;
    border-radius:100%;
}

.cursor-outline{
    height:30px;
    width:30px;
    background:transparent;
    border:1px solid white;
    border-radius:100%;
}

.cursor-dot,
.cursor-outline{
    position:fixed;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    pointer-events:none;
    z-index:9999;
}

@keyframes headerAppear{
    from {transform:translateY(-100px);}
    to {transform:translateY(0);}
}

@keyframes headerDissappear{
    from {transform:translateY(0);}
    to {transform:translateY(-100px);}
}

.header{
    position:fixed;
    display:flex;
    box-sizing:border-box;
    min-width:100vw;
    justify-content:space-around;
    align-items:center;
    padding:30px 0 20px 0;
    z-index:998;
}

#down{
    animation:headerAppear .7s forwards;
}

#up{
    animation:headerDissappear .7s forwards;
}

.menu{
    display:flex;
    gap:20px;
}

.menuItem{
    font-size:24px;
}

.menuItem::after{
    display:block;
    content:"";
    background:rgb(255, 149, 110);
    margin-top:7px;
    width:0;
    height:2px;
    transition:all .4s ease-in-out;
}

.menuItem:hover{
    color:rgb(255, 149, 110);
}

.menuItem:hover::after{
    width:100%;
}

#selectedMenuItem{
    color:coral;
}

#selectedMenuItem::after{
    width:100%;
}

.langAndMenu{
    display:flex;
    align-items:center;
    gap:25px;
}

.languages{
    display:flex;
    gap:10px;
}

.languages img{
    border-radius:100%;
}

.languages img:hover{
    transform:scale(1.1);
}

/* other */

.h{
    /* font-family:Roboto, sans-serif; */
    font-family: "M PLUS 1 Code", monospace;
    font-weight:700;
    font-size:50px;
    letter-spacing:2px;
}

.glowP{
    text-shadow:0 0 5px coral;
}

.p{
    font-size:24px;
    letter-spacing:1px;
    font-family:Merriweather, sans-serif;
}

#developer{
    font-family:"M PLUS 1 Code", monospace;
    text-shadow:0 0 7px coral;
}

/* content */
.arrow{
    z-index:9997;
    font-size:100px;
    margin:0;
    transition:all .4s ease-in-out;
}

.arrow:hover{
    transform:scale(1.2);
}

#leftArrow{
    position:fixed;
    top:45%;
    left:20px;
}

#rightArrow{
    position:fixed;
    top:45%;
    right:20px;
}

/* actual content */

.content{
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    min-width:100%;
    min-height:100vh;
    background:rgba(0,0,0,0.6);
}

@keyframes slideFromLeft{
    from {opacity:0;transform:translateX(-100%);filter:blur(5px);}
    to {transform:translateX(0);}
}

@keyframes slideFromRight{
    from {opacity:0;position:fixed;transform:translateX(100%);filter:blur(5px);}
    to {position:fixed;transform:translateX(0);}
}

.section{
    margin-top:190px;
    /* animation:slideSec .4s; */
}

.slideFromLeft{
    animation:slideFromLeft 1s;
}

.slideFromRight{
    animation:slideFromRight 1s;
}

/* skills Section */

#skillsSec{
    display:none;
    flex-direction:column;
    align-items:center;
    gap:50px;
}

.overallSkills{
    display:grid;
    grid-template-columns:repeat(2, auto);
    gap:40px;
}

.overallSkill{
    background:#31363F;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:25px;
}

.overallSkill h1{
    margin:0;
    font-family:"M PLUS 1 Code", monospace;
}

.overallSkill .p{
    max-width:400px;
}

.skills{
    display:grid;
    grid-template-columns:repeat(3, max-content);
    gap:60px;
    align-items:end;
}

.skills img{
    transition:all .4s ease-in-out;
    margin-bottom:20px;
}

.skill{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.skill .skillBar{
    width:200px;
    height:10px;
    border-radius:5px;
    background:#31363F;
    margin-bottom:10px;
}

.skillBar .skillBarLoaded{
    height:100%;
    background:coral;
    border-radius:5px 0 0 5px;
}

.skill .barInfo{
    display:flex;
    width:100%;
    justify-content:space-between;
}

.skill .barInfo p{
    font-size:20px;
    font-family:"M PLUS 1 Code", "monospace";
    letter-spacing:1px;
    margin:0;
}

/* Section 2 */

#educationSec{
    display:none;
    flex-direction:column;
    gap:50px;
}

.educationDesc{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.education{
    display:grid;
    grid-template-columns:auto auto;
    gap:40px;
}

.school1{
    display:flex;
    flex-direction:column;
    align-items:end;
}

.school{
    box-sizing:border-box;
    width:100%;
    height:100%;
    /* background-image:url(noise-light.png); */
    background:linear-gradient(to top, transparent, rgba(255, 127, 80, 0.6));
    padding:30px;
    border:2px solid coral;
    border-bottom:5px solid white;
}

.school img{
    display:flex;
    margin-left:auto;
    margin-right:auto;
}

.school ul{
    margin:0;
    margin-top:20px;
}

.school .p{
    margin-top:30px;
}

@keyframes slideBall{
    from{transform:translateX(300%)}
    to{transform:translateX(0)}
}

@keyframes slideBallRight{
    from{transform:translateX(-300%)}
    to{transform:translateX(0)}
}

.school1:hover .ball{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    animation:slideBall .2s;
}

.ball{
    width:40px;
    height:40px;
    background:#ffffff3a;
    backdrop-filter:blur(5px);
    border-radius:100%;
    margin-top:-20px;
    margin-right:-20px;
    animation:slideBallRight .2s;
    transition:all .4s ease-in-out;
}

/* Section 1 */

#mainSec{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:60px;
}

#mainSecParent{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:120px;
}

#mainSec #mePic{
    filter:brightness(90%);
    transform:scaleX(-1);
    border-radius:0 0 20px 60px;
}

#mainSec .whoAmI{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:40px;
}

.meInfo{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.infoDiv{
    display:flex;
    gap:10px;
}

.infoDiv img{
    object-fit:contain;
}

#sendEmail::after{
    content:"";
    display:block;
    background:white;
    height:2px;
    width:0;
    margin-top:7px;
    margin-left:auto;
    margin-right:auto;
    transition:all .4s ease-in-out;
}

#sendEmail:hover::after{
    width:95%;
}

/* button 86 */

.button-86 {
  all: unset;
  width: 120px;
  height: 40px;
  font-family:"M PLUS 1 Code", monospace;
  font-size: 24px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: coral;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* section Contact */

form{
    display:flex;
    flex-direction:column;
    gap:20px;
    font-size:24px;
    padding:20px;
    border:2px solid coral;
    background:linear-gradient( to top, transparent, rgba(255, 127, 80, 0.6));
    width:400px;
}

form h1{
    margin:0;
    margin-top:-54px;
    color:black;
    -webkit-text-stroke: white 1px;
    letter-spacing:2px;
}

label{
    font-family:Merriweather, sans-serif;
    color:white;
    cursor:none;
}

input{
    font-family:Merriweather, sans-serif;
    font-size:24px;
    border:none;
    padding:0 10px 10px 10px;
    background:transparent;
    border-bottom:3px solid white;
}

input:focus{
    outline:none;
}

input:focus::placeholder{
    color:transparent;
}

input::placeholder{
    color:rgba(255, 255, 255, 0.6);
}

textarea::placeholder{
    color:rgba(255, 255, 255, 0.6);
}

textarea{
    resize:none;
    font-size:20px;
    background:transparent;
    border:2px solid coral;
    padding:10px;
}

textarea::-webkit-scrollbar{
    background-color:transparent;
}

textarea::-webkit-scrollbar:hover{
    cursor:none;
}

textarea::-webkit-scrollbar-thumb:hover{
    cursor:none;
}

textarea::-webkit-scrollbar-thumb{
    background-color:coral;
}

textarea:focus{
    outline:none;
}

#submit{
    max-width:60%;
    min-width:60%;
    margin-left:auto;
    margin-right:auto;
    padding:5px 0 5px 0;
    margin-bottom:10px;
}

#submit::before{
    border-radius:0;
}

#submit:hover::after{
    border-radius:0;
}

/*Experience Section*/

#expSec{
    display:none;
    flex-direction:column;
    gap:50px;
}

.projects{
    display:grid;
    grid-template-columns:auto auto;
    gap:40px;
}

.project{
    max-width:300px;
    padding:20px;
    background:#31363F;
    transition:all .4s ease-in-out;
}

.project img{
    height:250px;
    width:100%;
    object-fit:cover;
    transition:all .4s ease-in-out;
}

@keyframes coverShow{
    from {opacity:0;}
    to {opacity:100%;}
}

.project::before{
    position:absolute;
    content:"";
    display:block;
    height:15px;
    width:15px;
    transform:rotate(45deg);
    background-color:#31363F;
    margin-left:312px;
    margin-top:12px;
}

.project::after{
    font-size:38px;
    display:none;
    font-family:"M PLUS 1 Code", monospace;
    font-weight:500;
    transform:translateY(-10px);
    margin-top:-47px;
    margin-left:10px;
    animation:coverShow .4s forwards;
}

.project .imageCover{
    position:absolute;
    display:none;
    background:linear-gradient(to top, black, transparent);
    width:300px;
    height:250px;
    animation:coverShow .4s forwards;
}

.project:hover.project .imageCover{
    display:block;
}

.project:hover::after{
    display:block;
}

#randPhotos::after{
    content:"Random Photos";
}

#calendar::after{
    content:"Calendar";
}

#imageSlider::after{
    content:"Image Slider";
}

#expDesc{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.projectSide{
    display:flex;
    flex-direction:column;
    align-items:start;
    gap:40px;
}

.projectDesc{
    display:flex;
    align-items:start;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.projectDesc .p{
    max-width:400px;
}

.bulletPoint{
    margin-top:5px;
    background:coral;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:30px !important;
    min-width:30px !important;
    max-height:30px;
    max-width:30px;
    transition:all .4s ease-in-out;
}

.bulletPoint:hover{
    box-shadow:0 0 10px coral;
}

.bulletPoint:hover .bulletPointCenter{
    height:17px;
    width:17px;
}

.bulletPointCenter{
    background:black;
    border-radius:100%;
    height:15px;
    width:15px;
    transition:all .4s ease-in-out;
}

/* bar */

.langBar{
    width:70%;
    margin-left:50px;
}

.bar{
    display:flex;
    min-width:100%;
}

.htmlBar, .cssBar, .jsBar{
    height:10px;
}

.htmlBar{
    border-radius:5px 0 0 5px;
    background:white;
}

.cssBar{
    background:orange;
}

.jsBar{
    border-radius:0 5px 5px 0;
    background:yellow;
}

.percanteges{
    display:flex;
    justify-content:space-between;
}

.percanteges h4{
    margin:0;
    font-size:20px;
    font-family:"M PLUS 1 Code", "monospace";
    letter-spacing:1px;
    margin-top:20px;
}

/* percanteges */

#randPhotos1 .htmlBar{
    width:30%;
}

#randPhotos1 .cssBar{
    width:46%;
}

#randPhotos1 .jsBar{
    width:24%;
}

#calendar1 .htmlBar{
    width:20%;
}

#calendar1 .cssBar{
    width:55%;
}

#calendar1 .jsBar{
    width:25%;
}

#imageSlider1 .htmlBar{
    width:32%;
}

#imageSlider1 .cssBar{
    width:47%;
}

#imageSlider1 .jsBar{
    width:21%;
}

/* end percanteges */
/* Certificates */

@keyframes popUp {
    from {transform:scale(0.1);}
    to {transform:scale(1);}
}

.parentCert{
    display:none;
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    align-items:center;
    justify-content:center;
    background:rgba(0, 0, 0, 0.8);
    z-index:9998;
}

.certNoise{
    position:absolute;
    background:black;
    background-image:url("noise-light.png");
    animation:popUp .5s;
}

.certificate{
    background:linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(255, 127, 80, 0.8));
    padding:40px;
    display:flex;
    flex-direction:column;
    gap:20px;
    border-bottom:7px solid white;
}

.certificate::after{
    content:"";
    display:block;
    height:60px;
    width:60px;
    margin-left:auto;
    margin-right:auto;
    background:white;
    border-radius:100%;
    margin-bottom:-73px;
}

.certificate img{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.certificate li{
    font-size:24px;
}

.certificate .p{
    max-width:800px;
}

/* Skills Description */
/* .skillDescParent{
    min-width:100%;
    min-height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    align-items:center;
    justify-content:center;
    background:rgba(0, 0, 0, 0.8);
    z-index:9998;
}

.skillDescNoise{
    position:absolute;
    background:black;
    background-image:url("noise-light.png");
    animation:popUp .5s;
}

.skillDesc{
    background:linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(255, 127, 80, 0.8));
    padding:40px;
    display:flex;
    flex-direction:column;
    gap:20px;
    border-bottom:7px solid white;
}

.skillDesc .p{
    max-width:800px;
} */

/* footer */

.footerParent{
    box-sizing:border-box;
    width:100%;
    border:4px solid #31363F;
    border-top:0;
    border-bottom:0;
    padding-bottom:100px;
}

.footer{
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px 0 20px 0;
    width:100%;
    background:#31363F;
}

.footer img:hover{
    transform:scale(1.1);
}

/* menu icon */

@keyframes menuPopUp1{
    from {transform:rotate(45deg);}
    to {transform:rotate(0deg);}
}

@keyframes menuPopUp2{
    from {width:0;}
    to {width:100%;}
}

@keyframes menuPopUp3{
    from {transform:rotate(-45deg);}
    to {transform:rotate(0deg);}
}

@keyframes menuLine1{
    from {transform:rotate(0deg);}
    to {transform:rotate(45deg);}
}

@keyframes menuLine2{
    from {transform:rotate(0deg);}
    to {transform:rotate(-45deg);}
}

.menuIcon{
    display:none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:5px;
}

.menuLine{
    width:35px;
    height:3px;
    background:white;
    border-radius:2px;
}

.xIcon{
    display:none;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:30px;
    min-height:30px;
}

.xLine{
    height:3px;
    width:35px;
    background:white;
    border-radius:2px;
}

#x1{
    position:absolute;
    transform:rotate(45deg);
    animation:menuLine1 1.5s forwards;
}

#x2{
    position:absolute;
    transform:rotate(-45deg);
    animation:menuLine2 1.5s forwards;
}

/* mobile menu */

@keyframes menuPopUp{
    from {transform:translateY(-500px);}
    to {transform:translateY(0);}
}

#mobile-header{
    display:flex;
    box-sizing:border-box;
    height:100vh;
    width:100vw;
    background:#31363F;
    position:fixed;
    align-items:center;
    justify-content:center;
    z-index:9998;
    animation:menuPopUp .7s forwards;
}

#mobile-header .langAndMenu{
    flex-direction:column;
    gap:20px;
}

#mobile-header .menu{
    display:flex;
    flex-direction:column;
    gap:10px;
}

#mobile-header .menuItem{
    font-size:24px;
}

/* responsive layout --------------------------------------------- */

@keyframes slideMenu{
    from {transform:translateX(20px);}
    to {transform:translateX(0);}
}

@media only screen and(min-width:766px){
    .menuIcon{
        display:none;
    }
}

@media only screen and (max-width:1070px){
    #mainSec{
        flex-direction:column;
    }
}

@media only screen and (max-width:840px){
    .projects{
        grid-template-columns:repeat(1, auto);
        justify-items:center;
    }
    .project::before{
        display:none;
    }
}

@media only screen and (max-width:755px){
    .arrow{
        display:none;
    }
    .cursor-dot, .cursor-outline{
        display:none;
    }
    body{
        cursor:default;
    }
    
    .menu{
        display:none;
    }
    .menuIcon{
        display:flex;
    }
    .header{
        justify-content:space-between;
        padding-left:20px;
        padding-right:20px;
    }
    #headerLogo{
        height:35px;
    }

    /* content */
    .content{
        padding:0 30px 0 30px;
    }
    .section{
        box-sizing:border-box;
        max-width:100%;
        max-width:calc(100vw - 60px);
        margin-top:120px;
    }
    .h{
        font-size:24px;
    }
    .p{
        font-size:16px;
    }
    #mePic{
        width:70%;
        height:auto;
    }
    form{
        box-sizing:border-box;
        width:100%;
    }
    form h1{
        font-size:40px;
        margin-top:-48px;
    }
    label, input, textarea{
        font-size:16px;
    }
    .button-86{
        font-size:24px;
        margin-left:auto;
        margin-right:auto;
    }
    /* Skills Section */

    .overallSkills{
        grid-template-columns:repeat(1, auto);
    }
    .overallSkill h1{
        font-size:24px;
    }
    .skills{
        grid-template-columns:repeat(1, auto);
    }

    /* Education Section */

    .education{
        grid-template-columns:repeat(1, auto);
    }
    .school ul li, .certificate ul li{
        font-size:16px;
    }
    .certificate img{
        width:60%;
        height:auto;
    }

    /* Portfolio Section */

    .project img{
        height:30vh;
    }
    .project:hover.project .imageCover{
        display:none;
    }
    .project::after{
        font-size:24px;
        display:block;
        text-shadow:0 0 10px black;
        margin-top:-30px !important;
    }
}